*,
*::before,
*::after {
    box-sizing: border-box;
}

.monograph-screen {
    border-radius: 24px;

    .monograph-header {
        border-top-left-radius: inherit;
        ;
        border-top-right-radius: inherit;
        ;
    }
}

.loader {
    display: flex;
    place-self: center;


    .spinner {
        width: 26px;
        height: 26px;
        border: 2px solid #f3f3f3;
        border-top: 2px solid #1b3a57;
        border-radius: 50%;

        animation: spin 0.8s linear infinite;
    }
}

p {
    margin: 0;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}